<!DOCTYPE html>
<html>
<head>
    <title>Recommendations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="text-center">
        <br>
        <br>
        <br>
        <h1 class="display-5 fw-bold text-body-emphasis">Books similar to {{ book_title }}</h1>

    </div>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="row">
            {% for book, description, author, publishDate, score in recommendations %}
            <div class="col-md-4">
                <div class="list-group-item" style="margin-bottom: 45px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="list-group list-group-checkable d-grid gap-2 border-0" style="position: relative; width: 550px; height: 400px;">
                            <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
                                <img src="{{ url_for('static', filename='imgs/gray.png') }}" width="515px" height="300px" style="margin: 0;">
                                <h3 style="margin-top: 10px; font-size: x-large;">{{ book }}</h3>
                                <span class="d-block small opacity-50" style="max-width: 500px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: large;">{{ author }}</p>
                                </span>
                                <div class="text-center">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>   
            </div> 
                </div>
            </div>
        </ul>
    </div>
</body>
</html>